
  body {
    background-color: hsl(0, 0%, 96%);
  }
 
 .photo {
   border-radius: 80%;
   height: 180px;
   width: 180px
 }
 .photo2 {
  border-radius: 8px;
  height: 200px;
  width: 180px
}

 h2 {
   color: #048000;
   text-transform: uppercase;
 }
 h3 {
   color: #008006;
   text-transform: uppercase;
 }

 hr {
   border-style: none;
   border-top-style:groove;
   border-color: none;
   border-width: 1px;
   width: 100%;
 }
.description {
  color: #00804f;
  font-family: sans-serif;
font-weight: 200;
line-height: 2
}
.designation {
  color:#c2cd5c;
}
.experience {
  color: #808000
}
.skills {
  color: #0000FF
}
.header {
  height: 100px;
  /* background-image:url("https://cdn3.vectorstock.com/i/1000x1000/83/77/internet-layout-background-energy-vector-1328377.jpg"); */
  
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}
.orderlist {
  line-height: 2
}
.options {
  width: 70%;
    margin: auto;
    text-align: center;
}

labelfooter {
  align-content: center;
}
.date {
  align-content: center;
}